$fontFamily: "Lexend", Arial, Helvetica, sans-serif;
$colorBlack: #333;

@mixin flexbox {
    display: flex;
    justify-content: space-between;
}

%cursor {
    cursor: pointer;
    text-align: center;
}

body {
    font-family: $fontFamily;
    font-weight: 600;
}

header {
    width: 100%;
    padding: 20px 50px;
    background-color: $colorBlack;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .header__img-menu {
        width: 35px;
        cursor: pointer;
        display: inline-block;
    }
    
    .header__carrito {
        width: 35px;
        cursor: pointer;
        display: inline-block;
    }
    
    .header__logotipo {
        width: 100px;
    }
    
    
}

main {
    .banner{
        width: 100%;
        padding: 60px, 0;
        text-align: center;
        background-image: url("../img/funko_top_banner.jpg");
        background-repeat: no-repeat;
        background-size:  cover;
        color: $colorBlack;
        background-position-y: 55%;
    

        .banner__title {
            width: 100%;
            font-weight: 600;
            font-size: 30px;
            margin: 10px;
        }
        
        .banner__subtitle {
            width: 100%;
            margin: 0 auto;
            font-size: 25px;
            opacity: 0.7;
        }
    }

    .products{
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
        .products__article{
            @extend cursor;
        }
        
        .products__img{
            width: 200px;
            margin-bottom: 15px;
        }
        
        .products__description{
            font-weight: 500;
            font-size: 17px;
            margin-bottom: 5px;
        }
        
        .products__price{
            font-weight: 300;
            font-size: 15px;
        }
    
    }
    
    
    .cart {
        width: 500px;
        background-color: #fff;
        padding: 25px;
        box-sizing: border-box;
        height: 100%;
        position: fixed;
        right: 0;
        top: 100px;
        box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.30);
        

        .cart__title {
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            padding: 25px 0;
            box-sizing: border-box;
        }
        
        .cart__items{
            border-bottom: 1px solid #333;
            @include flexbox;
            align-items: center;
            padding: 15px;
            box-sizing: border-box;
        }
        
        .cart__products {
            width: 60px;
        }
        
        .cart__price {
            font-weight: 500;
        }
        
        .cart__delete{
            width: 15px;
            @extend cursor;
        }
 
 
    }
    
 
    
}